@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Ledger&display=swap');

@tailwind base;
* {
    scrollbar-width: thin;
    scrollbar-color: none;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0px;
    
  }
@tailwind components;
@tailwind utilities;